*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

html,body{
  height: 100%;
  width: 100%;
}

body{
  align-items: center;
  background: #ff7a7a url("images/bg-intro-desktop.png") no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;

}

.err input{
  border: 2px solid #ff7a7a;
}

.err::after {
  content: url("images/icon-error.svg");
  margin-top: 22px;
  position: absolute;
  right: 48px;
}

.err::before{
  content:attr(data-content);
  color: #ff7a7a;
  font:  italic 400 10px 'Poppins', sans-serif;
  position:absolute;
  right: 32px;
  padding-top: 8px;
  margin-top: 60px;
}

.container{
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  width: 75%;
}

.content, .sign-up{
  width:50%;
}

.content{
  color:#fff;
  padding-right: 32px;
  margin: auto 0;
}

.content > h1{
  font-size: 48px;
  line-height: 1;
  margin-bottom: 32px;
}

.box{
  border-radius: 10px;
  box-shadow: 0 8px 0 rgba(62, 60, 73, 0.3);
}

.header{
  background-color: #6055a5;
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 32px;
  text-align: center;
}

.header > p{
  color: #fff;
  font-weight: 600;
}


span{
  color: 	#b9b6d3;
  font-weight: 400;
}

form{
  background-color: #fff;
  padding: 32px;
  position: relative;
}

input, .button{
  border: 1px solid lightgrey;
  border-radius: 5px;
  color: 	#3e3c49;
  font: 500 14px 'Poppins', sans-serif;
  margin: 8px 0;
  padding: 16px 32px;
  outline: none;
  width: 100%;
}

.button{
  background-color: #38cc8c;
  border-bottom: 4px solid #2fb67c;
  color: #fff;
  font-size: 16px;
  padding-bottom: 12px;
  text-align: center;

}

.button:hover{
  cursor: pointer;
  opacity: 0.8;
}

input:focus{
  border-color: #3e3c49;
}

input::placeholder{
  color: #b9b6d3;
}

.text-footer{
  color: #b9b6d3;
  font-size: 10px;
  margin-top: 8px;
  text-align: center;
}

.text-footer p>span{
  color: 	#ff7a7a;
  font-weight: 700;
}

@media only screen and (max-width:1300px) {
  .container{
    width:80%;
  }
}

@media only screen and (max-width:1200px) {
  .container{
    width:85%;
  }
}

@media only screen and (max-width:1024px) {

  html,body{
    height: auto;
  }

  body{
    margin: 5rem 0;
  }

  .container{
    width: 90%;
  }
}


@media only screen and (max-width:769px) {

  .container{
    flex-direction: column;
    width:75%;
  }

  .content, .sign-up{
    width: 100%;
  }

  .content{
    margin-bottom: 64px;
    text-align: center;
  }
}

@media only screen and (max-width:500px){
  .container{
    width:90%;
  }
}
